body{
    font-family: 'Righteous', cursive;
    margin: 0%;
}

section{
    display: flex;
    margin-bottom: 100px;
}

.top-header{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width{
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.half-width img{
    width: 80%;
}

h1{
    font-size: 40px;
    
}
h3{
    font-size: 25px;
}
.name-color{
    color: tomato;
}

.link-button{
    background-color: tomato;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
.become-developer{
    color: tomato;
}

#experience-item{
    border-left: 10px solid;
    box-shadow: 10px 10px 10px 10px rgb(182, 181, 181);
    margin: 50px;
    border-radius: 10px;

}


.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer{
    text-align: center;
}